<?xml version="1.0"?>

<launch>
	<group ns="arm">
		<rosparam ns="model_identifier" command="load" file="$(find cob_model_identifier)/config/params.yaml"/>
		<node name="input_generator" pkg="cob_model_identifier" type="input_generator_node" output="screen"/> 
		<node name="output_recorder" pkg="cob_model_identifier" type="output_recorder_node" output="screen"/>
	</group>
</launch>
