<?xml version="1.0"?>
<launch>
<!-- protected region additional custom Launchfile statements in the beginning on begin -->
<!-- protected region additional custom Launchfile statements in the beginning end -->
  

	<node pkg="cob_test_action" type="cob_test_action" name="cob_test_action"  output="screen">
		<param name="deviation" value="10"/>
	</node>
	
	<include file="$(find cob_test_action_behaviour)/launch/cob_action_behaviour_config.launch" />	
	<node pkg="cob_test_action_behaviour" type="cob_action_behaviour" name="cob_action_behaviour"  output="screen">
	</node>
	

<!-- protected region additional custom Launchfile statements in the end of launch file on begin -->
<!-- protected region additional custom Launchfile statements in the end of launch file end -->

</launch>


